{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <center><br><br><h3>Welcome to the</h3>
    <h2><b>Black Cyber Recruiter</b></h2></center>
    <hr><br>
    <center>
    <div class="column" style="display:flex; flex-direction:column; width: 100%; ">
        <div class="row" style="margin:15px;">
            <div class="column card ptag">
                <h3 class="ptag">Find your dream job!</h3>
            </div>
            <div class="column card ptag" style="background-color: white;">
                <h3 class="ptag">Connect with mentors!</h3>
            </div>
        </div>
        <div class="row" style="margin-left:15px; margin-right:15px;">
            <div class="column card" style="background-color: white;">
                <br>
                <h5>Don't wait.</h5>
                <br>
                <p class="ptag">Sign up for free today with the</p>
                <p class="ptag"><b>Black Cyber Recruiter.</b></p>
                <br>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="align-self: center; max-width: 200px;" href="{% url 'register' %}">Sign Up</a>
            </div>
        </div>
    </div>
    </center>
    <hr>
</div>
{% endblock %}
