{% extends 'dashbase.html' %}
{% load static %}

{% block content %}
<style>
    .logincontainer {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 100px;
    }

    .logincard {
        width: 350px;
        height: 550px;
        
        align-items: center;
        justify-content: center;
    }

    .accountinfo {
        margin-bottom: 0px;
        text-align: center;
    }

    .deletebutton {
        background-color: #d11a2a;
        border-color: #d11a2a;
        margin-top: 10px;
        color: #fff;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .deletebutton:hover {
        color: #fff;
    }

</style>
<div class="container">
    <div class="column">
        <center>
        <br>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <hr>
        {% if welcome_message %}
        <div class="card" style="width:600px;">
            <h3 class="ptag">🎉 Welcome to your new account! 🎉</h3>
        </div>
        {% endif %}
        <div class="card logincard">
            <img src="{% static 'img/Account Photo.png' %}" width=180px alt="Profile Image">
            <br>
            <form style="display:flex; flex-direction: column; align-items:center; text-align:center;"name="editaccountform" method="POST" action="{% url 'saveuser' %}">
                {% csrf_token %}
                <input type="text" class="accountinfo" name="first_name" id="first_name" maxlength=50 placeholder="First name" value="{{ user.first_name }}">
                <input type="text" class="accountinfo" name="last_name" id="last_name" maxlength=50 placeholder="Last name" value="{{ user.last_name }}">
                <input type="text" class="accountinfo" name="username" id="username" maxlength=50 placeholder="Username" value="{{ user.username }}">
                <input type="text" class="accountinfo" name="email" id="email" maxlength=50 placeholder="Email" value="{{ user.email }}">
                <br>
                <button class="btn btn-primary btn-xl text-uppercase" type="submit">Save</button>
            </form>
            <form name="offerform" method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-xl text-uppercase" style="margin-top: 10px;" type="submit">Logout
                </button>
            </form>
            <form name="offerform" method="POST" action="{% url 'deleteuser' %}">
                {% csrf_token %}
                <button class="deletebutton btn btn-xl text-uppercase" type="submit">Delete
                </button>
            </form>
        </div>
        </center>
    </div>
</div>
{% endblock %}
