{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
                0 2px 2px rgba(0,0,0,0.05), 
                0 4px 4px rgba(0,0,0,0.05), 
                0 8px 8px rgba(0,0,0,0.05),
                0 14px 14px rgba(0,0,0,0.05);
    flex:1
}

.ptag {
    margin-bottom: 0px;
}

.cardlist {
    flex: 1;
    margin-right: 10px;
}

.minicardheading {
    display:flex;
    align-items: center;
    margin-left: 0px;
}

.apptitle {
    display: flex;
    flex: 4;
}

.date {
    display: flex;
    flex: 1;
}

</style>


{% comment %}  THIS NEEDS A LOT OF WORK {% endcomment %}
<div class="container">
    <br><br><h2>Applicant Dashboard</h2>
    <hr>
    <div class="row" style="margin-left: -.75rem; display:flex; flex-direction:row; width: 100%; ">
        <div class="column cardlist"> 
            <h3 style="font-weight:normal; margin-left: 15px;">Submitted Applications</h3>
            <div class="column card">
                <div class="row minicardheading">
                    <h5 class="apptitle ptag" style="font-weight:normal;">Software Engineer</h5>
                    <p class="date ptag">July 2020</p>
                </div>
                <p class="ptag">Qualtrics</p>
            </div>
            <div class="column card">
                <div class="row minicardheading">
                    <h5 class="apptitle ptag" style="font-weight:normal;">Software Engineer</h5>
                    <p class="date ptag">July 2020</p>
                </div>
                <p class="ptag">Qualtrics</p>
            </div>
            <div class="column card">
                <div class="row minicardheading">
                    <h5 class="apptitle ptag" style="font-weight:normal;">Software Engineer</h5>
                    <p class="date ptag">July 2020</p>
                </div>
                <p class="ptag">Qualtrics</p>
            </div>
            {% for listing in job_lists %}
            <form name="listingform" method="POST" action="{% url 'storeDeletedPerson' %}">
                {% csrf_token %}
                <input type="hidden" name="applicant_id" value="{{ listing.id }}">
                <button style="background-color:#CFCFCF; color:blue" class="column card ptag" type="submit">
                    <h5 style="font-weight:normal;">{{listing.title}}</h5>
                    <p>{{ listing.company }}</p>
                    
                </button>
            </form>
            {% endfor %}
        </div>
        <div class="column cardlist"> 
            <h3 style="font-weight:normal; margin-left: 15px;">All Mentors</h3>
            <div class="column card">
                <div class="row minicardheading">
                    <h5 class="apptitle ptag" style="font-weight:normal;">Johnny Appleseed</h5>
                </div>
                <p class="ptag">Qualtrics</p>
            </div>
            <div class="column card">
                <div class="row minicardheading">
                    <h5 class="apptitle ptag" style="font-weight:normal;">Nate the Mate</h5>
                </div>
                <p class="ptag">Janitor at Smith's</p>
            </div>
            <div class="column card">
                <div class="row minicardheading">
                    <h5 class="apptitle ptag" style="font-weight:normal;">2-Jacked Josiah</h5>
                </div>
                <p class="ptag">Squat-Central and Co</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
