{% extends 'base.html' %}
{% load static %}

{% block navButtons %}

<li class="nav-item">
    <a class="nav-link js-scroll-trigger navbuttonshade" href="{% url 'index' %}" style="background-color: #252527; padding-left: 50px; padding-right: 50px; color: #CACFCC; margin-top:5px; margin-left: 50px; font-size: 16px; border-radius:5px;">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger navbuttonshade" href="{% url 'about' %}" style="background-color: #252527; padding-left: 50px; padding-right: 50px; color: #CACFCC; margin-top:5px; margin-left: 20px; font-size: 16px; border-radius:5px;">About</a>
</li>
<li class="nav-item "> 
    <a class="nav-link js-scroll-trigger navbuttonshade" href="{% url 'applicantdash' %}" style="background-color: #007bff; padding-left: 50px; padding-right: 50px; color: white; margin-top:5px; position: absolute; right: 200px; font-size: 16px; border-radius:5px;">Login</a>
</li>

{% endblock %}