{% extends 'dashbase.html' %}
{% load static %}

{% block content %}

<style>
.cardlist {
    flex: 1;
    margin-right: 10px;
}

.minicardheading {
    display:flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    flex-wrap: nowrap;
}

.apptitle {
    display: flex;
    flex: 4;
}

.city {
    display: flex;
    flex: 1;
    text-align: right; 
}

.buttoncard {
    width:100%;
    padding: 20px;
    margin: 15px;
}

.spacecolumn {
    width: 30px;
    height: 100%;
}
</style>

<div class="container">
    <center>
        <br><br>
        <div class="row minicardheading">
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'listingpreview' %}">Back</a>
            <div class="column" style="margin-left:20px; margin-right:20px;">
                <h2>{{ selected_listing.job_title }}</h2>
                <h3 style="font-weight:normal;">{{ selected_listing.organization }}<h3>
            </div>
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'underconstruction' %}">Apply</a>
        </div>
    </center>
    <hr>
    <div class="row" style="margin-left: -.75rem; display:flex; flex-direction:row; width: 100%; ">
        <div class="column cardlist"> 
            <h3 style="font-weight:normal; margin-left: 15px;">Overview</h3>
            <div class="column card">
                <li class="ptag"><b>Location:</b> {{ selected_listing.city }}</li>
                <li class="ptag"><b>Contracts:</b> {{ selected_listing.contracts }}</li>
                <li class="ptag"><b>Status:</b> {{ selected_listing.status }}</li>
            </div>
            {% comment %} Implement if we have extra time {% endcomment %}
            {% comment %} <h3 style="font-weight:normal; margin-left: 15px;">Skills</h3>
            <div class="column card">
                {% for skill in skill_descriptions %}
                <p class="ptag">{{ skill.description }}</p>
                {% endfor %}
            </div> {% endcomment %}
            <h3 style="font-weight:normal; margin-left: 15px;">Listing Description</h3>
            <div class="column card">
                <p class="ptag">{{ selected_listing.description }}</p>
            </div>
        
        </div>
        <div class="spacecolumn">
        </div>
        <div class="column cardlist"> 
            <h3 style="font-weight:normal; margin-left: 15px;">Recommended Jobs</h3>
            <h5 style="font-weight:normal; margin-left: 15px;">{{ null_org_message }}</h5>
            {% for listing in listing_list %}
                <div class="column card">
                    <div class="row minicardheading">
                        <h5 class="apptitle ptag" style="font-weight:normal;">{{ listing.job_title }}</h5>
                        <h6 style="font-weight:normal;">{{ listing.city }}</h6>
                    </div>
                    <p class="ptag">{{ listing.organization }}</p>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}
